backtrader==1.9.73.123
boto3==1.9.62
botocore==1.12.142
cbpro==1.1.4
certifi==2019.3.9
chardet==3.0.4
coinbase==2.1.0
cycler==0.10.0
docopt==0.6.2
docutils==0.14
flake8==3.6.0
idna==2.8
jedi==0.13.3
jmespath==0.9.4
kiwisolver==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
mongoengine==0.16.3
mypy==0.550
numpy==1.16.3
parso==0.4.0
pendulum==2.0.4
prompt-toolkit==2.0.9
psutil==5.4.8
ptpython==2.0.4
pycodestyle==2.4.0
pycryptodome==3.8.1
pyflakes==2.0.0
Pygments==2.3.1
pymongo==3.5.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytzdata==2019.1
PyYAML==3.13
requests==2.13.0
s3transfer==0.1.13
six==1.10.0
sortedcontainers==2.1.0
typed-ast==1.1.2
urllib3==1.24.3
wcwidth==0.1.7
websocket-client==0.40.0
